<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="landing.css" />
    <title>Landing Page</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="hero">
        <div class="heroContainer">
          <h1 class="heroTitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </h1>
        </div>
      </div>
    </header>

    <div class="imageContainer" id="imageContent">
      <div class="hero">
        <div class="heroContainer">
        </div>
      </div>
    </div>

    <!-- SDGs Goals -->
    <section class="container" id="mainContent">
      <div class="text">
        <h2>The 17 Sustainable Development Goals</h2>
        <p class="goals-info text-center">There are <span id="totalGoals"></span> Goals and <span id="totalIndicators"></span> Indicators</p>
      </div>
      <div class="rowitems">
        <div class="container-box">
          <div class="container-image">
            <a id="link1" href="#">
              <img src="../assets/3.png" alt="Good Health and Well-Being" />
              <h4>Good Health and Well-Being</h4>
              <p>17 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a id="link2" href="#">
              <img
                src="../assets/4.png"
                alt="Quality Education"
              />
              <h4>Quality Education</h4>
              <p>7 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a id="link3" href="#">
              <img
                src="../assets/6.png"
                alt="Clean Water And Sanitation"
              />
              <h4>Clean Water And Sanitation</h4>
              <p>9 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a id="link4" href="#">
              <img src="../assets/7.png" alt="Affordable and Clean Energy" />
              <h4>Quality Education</h4>
              <p>5 Indicator</p>
            </a>
          </div>
        </div>
      </div>
    </section>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
          fetch('../data/joinedData.php')
              .then(response => response.json())
              .then(data => {
                  document.getElementById('totalGoals').innerText = data.totalGoals;
                  document.getElementById('totalIndicators').innerText = data.totalIndicators;
              })
              .catch(error => console.error('Error fetching join data:', error));
      });
    </script>

    <script>
      const email = localStorage.getItem("email");
      
      console.log(localStorage.getItem("email"));

      if (email) {
        document.getElementById("link1").href = "../view/dataset/dataset_3.html";
        document.getElementById("link2").href = "../view/dataset/dataset_4.html";
        document.getElementById("link3").href = "../view/dataset/dataset_6.html";
        document.getElementById("link4").href = "../view/dataset/dataset_7.html";
      } else {
        document.getElementById("link1").href = "../view/tema/tema_3.html";
        document.getElementById("link2").href = "../view/tema/tema_4.html";
        document.getElementById("link3").href = "../view/tema/tema_6.html";
        document.getElementById("link4").href = "../view/tema/tema_7.html";
      }
    </script>
  </body>
</html>
