<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="landing.css" />
    <title>Landing Page</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="hero">
        <div class="heroContainer">
          <h1 class="heroTitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </h1>
          <p class="heroDescription">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </header>

    <div class="imageContainer" id="imageContent">
      <div class="hero">
        <div class="heroContainer">
        </div>
      </div>
    </div>

    <!-- Services -->
    <section class="container" id="mainContent">
      <div class="text">
        <h2>The 17 Sustainable Development Goals</h2>
      </div>
      <div class="rowitems">
        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img src="./assets/sdgs/3.png" alt="Quality Education" />
              <h4>Quality Education</h4>
              <p>5 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/4.png"
                alt="Good Health and Well-Being"
              />
              <h4>Good Health and Well-Being</h4>
              <p>7 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/6.png"
                alt="Clean Water And Sanitation"
              />
              <h4>Clean Water And Sanitation</h4>
              <p>9 Indicator</p>
            </a>
          </div>
        </div>

        <!-- <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img src="./assets/sdgs/3.png" alt="Quality Education" />
              <h4>Quality Education</h4>
              <p>5 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/4.png"
                alt="Good Health and Well-Being"
              />
              <h4>Good Health and Well-Being</h4>
              <p>7 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/6.png"
                alt="Clean Water And Sanitation"
              />
              <h4>Clean Water And Sanitation</h4>
              <p>9 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img src="./assets/sdgs/3.png" alt="Quality Education" />
              <h4>Quality Education</h4>
              <p>5 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/4.png"
                alt="Good Health and Well-Being"
              />
              <h4>Good Health and Well-Being</h4>
              <p>7 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/6.png"
                alt="Clean Water And Sanitation"
              />
              <h4>Clean Water And Sanitation</h4>
              <p>9 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img src="./assets/sdgs/3.png" alt="Quality Education" />
              <h4>Quality Education</h4>
              <p>5 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/4.png"
                alt="Good Health and Well-Being"
              />
              <h4>Good Health and Well-Being</h4>
              <p>7 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/6.png"
                alt="Clean Water And Sanitation"
              />
              <h4>Clean Water And Sanitation</h4>
              <p>9 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img src="./assets/sdgs/3.png" alt="Quality Education" />
              <h4>Quality Education</h4>
              <p>5 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/4.png"
                alt="Good Health and Well-Being"
              />
              <h4>Good Health and Well-Being</h4>
              <p>7 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/6.png"
                alt="Clean Water And Sanitation"
              />
              <h4>Clean Water And Sanitation</h4>
              <p>9 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img src="./assets/sdgs/3.png" alt="Quality Education" />
              <h4>Quality Education</h4>
              <p>5 Indicator</p>
            </a>
          </div>
        </div>

        <div class="container-box">
          <div class="container-image">
            <a href="index.html">
              <img
                src="./assets/sdgs/4.png"
                alt="Good Health and Well-Being"
              />
              <h4>Good Health and Well-Being</h4>
              <p>7 Indicator</p>
            </a>
          </div>
        </div> -->
      </div>
    </section>
  </body>
</html>
